<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="我的机器能学习">
    <meta name="author" content="梁嘉腾">

    <title>我的机器能学习</title>
    <base th:href="@{${host}}"/>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon " type="images/x-icon" href="/img/avatar.jpg">
    <link href="/vendor/bootstrap/css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <style>
        i {
            margin-right: 5px;
        }
    </style>
</head>

<body>
<!--sidebar-->
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="/back/articles">
                            Jiateng Liang's CMS
                        </a>
                    </div>

                    <!-- Search -->
                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!-- Search body -->
                    <div id="search" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default "><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-article">
                            <i class="far fa-newspaper"></i>Articles<span class="badge" style="margin-left: 5px"
                                                                          th:text="${draft_cnt}">0</span><span
                                class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-article" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="/back/articles">Article Management</a></li>
                                    <li><a href="/back/articles/categories">Category Management</a></li>
                                    <li><a href="/back/articles/new_article">New Article</a></li>
                                    <li><a href="/back/articles/drafts">Drafts<span class="badge"
                                                                                    style="margin-left: 5px"
                                                                                    th:text="${draft_cnt}">0</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-job">
                            <i class="far fa-clock"></i>Cron Jobs<span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-job" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="/back/cronjobs">Job Management</a></li>
                                    <li><a href="/back/cronjobs/new">New Job</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>Logout
                        <span>(current user: 702313)</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <h1>Cron Job</h1>

            <div>
                <h5 style="display: inline;margin-right: 20px">Scheduler Status:</h5><span class="label label-default"
                                                                                           id="scheduler-status">Stopped</span>
                <div class="btn-group" role="group" aria-label="..." style="margin-left: 100px">
                    <button type="button" class="btn btn-success" onclick="operate('start')">Start</button>
                    <button type="button" class="btn btn-warning" onclick="operate('pause')">Pause</button>
                    <button type="button" class="btn btn-primary" onclick="operate('resume')">Resume</button>
                    <button type="button" class="btn btn-danger" onclick="operate('stop')">Stop</button>
                </div>
            </div>

            <span style="float: right"><code>Status: </code>
               <select class="combobox" id="status" onchange="changeStatus()">
                    <option value="3">All</option>
                    <option value="1">Running</option>
                    <option value="0">Stopped</option>
                    <option value="2">Paused</option>
                </select>
            </span>

            <table class="table table-bordered" style="margin-top: 20px">
                <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Executed Times</th>
                    <th>Instance Count</th>
                    <th>Create Time</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody id="data-list">

                </tbody>
            </table>
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link">1</a>
                </li>
            </ul>

        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    page = 1
    status = 3
    $(function () {
        $('.navbar-toggle').click(function () {
            $('.navbar-nav').toggleClass('slide-in');
            $('.side-body').toggleClass('body-slide-in');
            $('#search').removeClass('in').addClass('collapse').slideUp(200);

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').toggleClass('slide-in');

        });

        // Remove menu for searching
        $('#search-trigger').click(function () {
            $('.navbar-nav').removeClass('slide-in');
            $('.side-body').removeClass('body-slide-in');

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').removeClass('slide-in');

        });
        //加载列表数据
        loadData(page, status)
        loadStatus()
    });

    function loadStatus() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            url: "/api/jobs/scheduler/status",
            success: function (result) {
                let obj = eval(result);
                if (obj.code === 200) {
                    let status = eval(obj.data).status

                    if (status === 0) {
                        $("#scheduler-status").text("Stopped")
                        $("#scheduler-status").toggleClass("label label-default");
                    } else if (status === 1) {
                        $("#scheduler-status").text("Running")
                        $("#scheduler-status").toggleClass("label label-success");
                    } else if (status === 2) {
                        $("#scheduler-status").text("Paused")
                        $("#scheduler-status").toggleClass("label label-warning");
                    }

                } else {
                    alert("Failure：" + obj.message)
                }
            }
        });
    }

    function operate(op) {
        $.ajax({
            type: "PUT",
            contentType: "application/json",
            dataType: "json",
            url: "/api/jobs/scheduler/" + op,
            success: function (result) {
                let obj = eval(result);
                if (obj.code === 200) {
                    loadStatus()
                } else {
                    alert("Failure：" + obj.message)
                }
            }
        });
    }

    function operateJob(jobId, op) {
        $.ajax({
            type: "PUT",
            contentType: "application/json",
            dataType: "json",
            url: "/api/jobs/" + jobId + "/" + op,
            success: function (result) {
                let obj = eval(result);
                if (obj.code === 200) {
                    loadData(page, status)
                } else {
                    alert("Failure：" + obj.message)
                }
            }
        });
    }

    function startJob(jobId) {
        operateJob(jobId, 'start')
    }

    function stopJob(jobId) {
        operateJob(jobId, 'stop')
    }

    function pauseJob(jobId) {
        operateJob(jobId, 'pause')
    }


    function loadData(page, status) {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            url: "/api/jobs?page=" + page + "&status=" + status,
            success: function (result) {
                let obj = eval(result);
                if (obj.code === 200) {
                    var div = document.getElementById("data-list")
                    while (div.hasChildNodes()) //当div下还存在子节点时 循环继续
                    {
                        div.removeChild(div.firstChild);
                    }

                    for (let i = 0; i < obj.data.data.length; i++) {
                        let row = $("<tr></tr>");
                        row.append("<td>" + obj.data.data[i].jobId + "</td>");
                        row.append("<td><a href='/back/cronjobs/config/" + obj.data.data[i].jobId + "'>" + obj.data.data[i].name + "</a></td>");
                        let status = obj.data.data[i].status;
                        if (status === 0)
                            row.append("<td><span class='label label-danger'>Stopped</span></td>");
                        else if (status === 1)
                            row.append("<td><span class='label label-success'>Running</span></td>");
                        else if (status === 2)
                            row.append("<td><span class='label label-warning'>Paused</span></td>");

                        row.append("<td>" + obj.data.data[i].executedTimes + "</td>");
                        row.append("<td>" + obj.data.data[i].instanceCount + "</td>");
                        row.append("<td>" + obj.data.data[i].createTime + "</td>");
                        if (status === 0) {
                            row.append("<td><a class='btn-sm btn-success' style='margin-right: 10px' onclick='startJob(\"" + obj.data.data[i].jobId + "\")'>Run</a></td>")
                        } else if (status === 1) {
                            row.append("<td><a class='btn-sm btn-warning' style='margin-right: 10px' onclick='pauseJob(\"" + obj.data.data[i].jobId + "\")'>Pause</a><a class='btn-sm btn-danger' style='margin-right: 10px' onclick='stopJob(\"" + obj.data.data[i].jobId + "\")'>Stop</a></td>")
                        } else if (status === 2) {
                            row.append("<td><a class='btn-sm btn-success' style='margin-right: 10px' onclick='startJob(\"" + obj.data.data[i].jobId + "\")'>Run</a><a class='btn-sm btn-danger' style='margin-right: 10px' onclick='stopJob(\"" + obj.data.data[i].jobId + "\")'>Stop</a></td>")
                        }
                        $("#data-list").append(row)
                    }
                } else {
                    alert("Failure：" + obj.message)
                }
            }
        });
    }


</script>

</html>
