<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="我的机器能学习">
    <meta name="author" content="梁嘉腾">

    <title>我的机器能学习</title>
    <base th:href="@{${host}}"/>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon " type="images/x-icon" href="/img/avatar.jpg">
    <link href="/vendor/bootstrap/css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/ajaxfileupload.js"></script>
    <style>
        i {
            margin-right: 5px;
        }
    </style>
</head>

<body>
<!--sidebar-->
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="/back/articles">
                            Jiateng Liang's CMS
                        </a>
                    </div>

                    <!-- Search -->
                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!-- Search body -->
                    <div id="search" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default "><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-article">
                            <i class="far fa-newspaper"></i>Articles<span class="badge" style="margin-left: 5px"
                                                                          th:text="${draft_cnt}">0</span><span
                                class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-article" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="/back/articles">Article Management</a></li>
                                    <li><a href="/back/articles/categories">Category Management</a></li>
                                    <li><a href="/back/articles/new_article">New Article</a></li>
                                    <li><a href="/back/articles/drafts">Drafts<span class="badge"
                                                                                    style="margin-left: 5px"
                                                                                    th:text="${draft_cnt}">0</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-job">
                            <i class="far fa-clock"></i>Cron Jobs<span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-job" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="/back/cronjobs">Job Management</a></li>
                                    <li><a href="/back/cronjobs/new">New Job</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>Logout
                        <span>(current user: 702313)</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <h1>New Template</h1>
            <form>
                <div class="input-group" style="margin-bottom: 20px">
                    <span class="input-group-addon" id="basic-addon1">Title</span>
                    <input id="title" type="text" class="form-control">
                </div>
                <textarea id="editor1"></textarea>

                <script>
                    CKEDITOR.replace('editor1', {
                        // Define the toolbar: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_toolbar
                        // The full preset from CDN which we used as a base provides more features than we need.
                        // Also by default it comes with a 3-line toolbar. Here we put all buttons in a single row.
                        toolbar: [
                            {name: 'document', items: ['Print']},
                            {name: 'clipboard', items: ['Undo', 'Redo']},
                            {name: 'styles', items: ['Format', 'Font', 'FontSize']},
                            {
                                name: 'basicstyles',
                                items: ['Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat', 'CopyFormatting']
                            },
                            {name: 'colors', items: ['TextColor', 'BGColor']},
                            {name: 'align', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']},
                            {name: 'links', items: ['Link', 'Unlink']},
                            {
                                name: 'paragraph',
                                items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote']
                            },
                            {name: 'insert', items: ['Image', 'Table']},
                            {name: 'tools', items: ['Maximize']},
                            {name: 'editing', items: ['Scayt']}
                        ],

                        // Since we define all configuration options here, let's instruct CKEditor to not load config.js which it does by default.
                        // One HTTP request less will result in a faster startup time.
                        // For more information check http://docs.ckeditor.com/ckeditor4/docs/#!/api/CKEDITOR.config-cfg-customConfig
                        customConfig: '',

                        // Sometimes applications that convert HTML to PDF prefer setting image width through attributes instead of CSS styles.
                        // For more information check:
                        //  - About Advanced Content Filter: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_advanced_content_filter
                        //  - About Disallowed Content: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_disallowed_content
                        //  - About Allowed Content: http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_allowed_content_rules
                        disallowedContent: 'img{width,height,float}',
                        extraAllowedContent: 'img[width,height,align]',

                        // Enabling extra plugins, available in the full-all preset: http://ckeditor.com/presets-all
                        extraPlugins: 'tableresize,uploadimage,uploadfile',

                        /*********************** File management support ***********************/
                        // In order to turn on support for file uploads, CKEditor has to be configured to use some server side
                        // solution with file upload/management capabilities, like for example CKFinder.
                        // For more information see http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_ckfinder_integration

                        // Uncomment and correct these lines after you setup your local CKFinder instance.
                        // filebrowserBrowseUrl: 'http://example.com/ckfinder/ckfinder.html',
                        // filebrowserUploadUrl: 'http://example.com/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                        /*********************** File management support ***********************/

                        // Make the editing area bigger than default.
                        height: 800,

                        // An array of stylesheets to style the WYSIWYG area.
                        // Note: it is recommended to keep your own styles in a separate file in order to make future updates painless.
                        contentsCss: ['https://cdn.ckeditor.com/4.8.0/full-all/contents.css', 'mystyles.css'],

                        // This is optional, but will let us define multiple different styles for multiple editors using the same CSS file.
                        // bodyClass: 'document-editor',

                        // Reduce the list of block elements listed in the Format dropdown to the most commonly used.
                        format_tags: 'p;h1;h2;h3;pre',

                        // Simplify the Image and Link dialog windows. The "Advanced" tab is not needed in most cases.
                        removeDialogTabs: 'image:advanced;link:advanced',

                        // Define the list of styles which should be available in the Styles dropdown list.
                        // If the "class" attribute is used to style an element, make sure to define the style for the class in "mystyles.css"
                        // (and on your website so that it rendered in the same way).
                        // Note: by default CKEditor looks for styles.js file. Defining stylesSet inline (as below) stops CKEditor from loading
                        // that file, which means one HTTP request less (and a faster startup).
                        // For more information see http://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_styles
                        stylesSet: [
                            /* Inline Styles */
                            {name: 'Marker', element: 'span', attributes: {'class': 'marker'}},
                            {name: 'Cited Work', element: 'cite'},
                            {name: 'Inline Quotation', element: 'q'},

                            /* Object Styles */
                            {
                                name: 'Special Container',
                                element: 'div',
                                styles: {
                                    padding: '5px 10px',
                                    background: '#eee',
                                    border: '1px solid #ccc'
                                }
                            },
                            {
                                name: 'Compact table',
                                element: 'table',
                                attributes: {
                                    cellpadding: '5',
                                    cellspacing: '0',
                                    border: '1',
                                    bordercolor: '#ccc'
                                },
                                styles: {
                                    'border-collapse': 'collapse'
                                }
                            },
                            {
                                name: 'Borderless Table',
                                element: 'table',
                                styles: {'border-style': 'hidden', 'background-color': '#E6E6FA'}
                            },
                            {name: 'Square Bulleted List', element: 'ul', styles: {'list-style-type': 'square'}}
                        ]
                    });
                </script>
                <input type="file" id="file" name="file" placeholder="上传模板pdf版"/>
            </form>

            <!--<input type="file" id="file" name="file" placeholder="上传Html"/>-->
            <!--<button type="submit" class="btn btn-primary" style="margin-top: 20px" onclick="upload()">Upload HTML-->
            <!--</button>-->

            <button type="submit" class="btn btn-success" style="margin-top: 20px" onclick="upload()">Submit</button>

        </div>
    </div>
</div>


</body>
<script>
    $(function () {
        $('.navbar-toggle').click(function () {
            $('.navbar-nav').toggleClass('slide-in');
            $('.side-body').toggleClass('body-slide-in');
            $('#search').removeClass('in').addClass('collapse').slideUp(200);

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').toggleClass('slide-in');

        });

        // Remove menu for searching
        $('#search-trigger').click(function () {
            $('.navbar-nav').removeClass('slide-in');
            $('.side-body').removeClass('body-slide-in');

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').removeClass('slide-in');

        });
    });


    function upload() {
        var json = {};
        json.title = $("#title").val();
        json.content = CKEDITOR.instances.editor1.getData();
        if(json.title == null || json.title === ''){
            alert("title cannot be null");
            return;
        }
        if(json.content == null || json.content === ''){
            alert("content cannot be null");
            return;
        }
        $.ajaxFileUpload({
            type: "POST",
            url: "/api/files/upload",
            traditional: true,
            fileElementId: "file",
            dataType: "json",
            success: function (result) {
                var obj = eval(result);
                if (obj.code === 200) {
                    var fileName = obj.data.fileName;
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(json),
                        url: "/api/templates?fileName=" + fileName,
                        success: function (result) {
                            var obj = eval(result);
                            if (obj.code === 200) {
                                location.reload()
                            } else {
                                alert("Failure：" + obj.message)
                            }
                        }
                    });
                } else {
                    alert(obj.message);
                }
            }
        });
    }
</script>

</html>
