<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="我的机器能学习">
    <meta name="author" content="梁嘉腾">
    <meta name="google-site-verification" content="rog5IqIR7qCIVRb6Toa7rjqac7R2R3aVb_un04RLG4M" />
    <title>我的机器能学习</title>
    <base th:href="@{${host}}"/>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon " type="images/x-icon" href="/img/avatar.jpg">
    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">
    <link href="/css/github-markdown.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<style>
    body {
        padding-top: 54px;
    }

    i {
        margin-right: 5px;
    }

    .date-time {
        color: gray;
    }

    .tags-list {
        list-style: none;
        display: inline-block;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .tags-list li {
        display: inline-block;
    }

    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
</style>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <img class="d-flex mr-3 rounded-circle" src="/img/avatar.jpg" alt="" style="width: 40px; height:40px;">
        <a class="navbar-brand" href="/blog/home">我的机器能学习</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item" style="margin-right: 20px">-->
                <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Search for...">-->
                <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-secondary" type="button">Go!</button>-->
                <!--</span>-->
                <!--</div>-->
                <!--</li>-->
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/home">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://wangluxuan.top/">Gallery</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Video</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Projects</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/blog/services">Services</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container" style="min-height: 700px">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Blogs
                <div class="dropdown" style="margin-bottom: 20px; display: inline-block;float: right">
                    <button class="btn btn-default dropdown-toggle" style="border: 1px solid gray" type="button"
                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Sorted by
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a th:href="@{'/blog/home?page=' + ${page} +'&categoryId='+${category_id}+'&sortType=0'}"
                               style="margin-left: 20px">Time</a></li>
                        <li><a th:href="@{'/blog/home?page=' + ${page} +'&categoryId='+${category_id}+'&sortType=2'}"
                               style="margin-left: 20px">Page View</a></li>
                    </ul>
                </div>
            </h1>
            <!--display selection-->


            <!-- Blog Post -->
            <div class="card mb-4" th:each="post:${data}">
                <span class="card-img-top" alt="Card image cap" th:remove="${post.preface == null}? tag : none"
                      th:style="'height:300px;background-image: url('+${post.preface}+');background-position:center;'">
                </span>
                <div class="card-body">
                    <h1 class="card-title" th:text="${post.title}"
                        style="margin-top: 15px; margin-bottom: 15px;text-align: center"></h1>
                    <div class="card-text markdown-body" th:utext="${post.desc}"></div>
                    <a th:href="@{'/blog/posts/' + ${post.id}}" class="btn btn-primary" style="color: white">Read More
                        &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    <span><i class="fas fa-calendar-alt"></i><a th:text="${post.createTime}"></a></span>
                    <span style="margin-left: 10px"><i class="fas fa-eye"></i><a th:text="${post.pv}"></a></span>
                    <div style="float: right;">
                        <span><i class="fas fa-book"></i><a th:href="@{'/blog/home?categoryId=' + ${post.categoryId}}"
                                                            th:text="${post.categoryName}"></a></span>
                    </div>
                </div>
            </div>


            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item" th:each="pageNo : ${#numbers.sequence(1, maxPage)}">
                    <a class="page-link"
                       th:href="@{'/blog/home?page=' + ${pageNo} +'&categoryId='+${category_id}+'&sortType='+${sort_type}}"
                       th:text="${pageNo}"></a>
                </li>
            </ul>

        </div>


        <div class="col-md-4">
            <!-- Categories -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled mb-0">
                                <li th:each="category: ${category_data}">
                                    <a th:href="@{'/blog/home?categoryId=' + ${category.id}}"
                                       th:text="${category.name}+'('+${category.count}+')'"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popular Articles -->
            <div class="card my-4">
                <h5 class="card-header">Popular Articles</h5>
                <div class="card-body">
                    <div class="list-group">
                        <a th:href="@{'/blog/posts/' + ${pop.id}}" class="list-group-item"
                           th:each="pop: ${popular_data}">
                            <div><h5 class="list-group-item-heading" th:text="${pop.title}"
                                     style="display: inline-block"></h5><span><i class="fas fa-fire"></i>
                                <small th:text="${pop.pv}"></small></span></div>
                            <p class="list-group-item-text" th:text="${pop.shortDesc}">
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Jiateng Liang's Blog 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
