<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="我的机器能学习">
    <meta name="author" content="梁嘉腾">

    <title>我的机器能学习</title>
    <base th:href="@{${host}}"/>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon " type="images/x-icon" href="/img/avatar.jpg">
    <!-- Custom styles for this template -->
    <link href="/css/github-markdown.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<style>
    body {
        padding-top: 54px;
    }

    i {
        margin-right: 5px;
    }

    .date-time {
        color: gray;
    }

    .tags-list {
        list-style: none;
        display: inline-block;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .tags-list li {
        display: inline-block;
    }

    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
</style>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <img class="d-flex mr-3 rounded-circle" src="/img/avatar.jpg" alt="" style="width: 40px; height:40px;">
        <a class="navbar-brand" href="/blog/home">我的机器能学习</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item" style="margin-right: 20px">-->
                <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Search for...">-->
                <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-secondary" type="button">Go!</button>-->
                <!--</span>-->
                <!--</div>-->
                <!--</li>-->
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://wangluxuan.top/">Gallery</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Video</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Projects</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/blog/services">Services</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container" style="min-height: 700px">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4" th:text="${article.title}"></h1>

            <!-- Date/Time -->
            <p class="date-time">
                <span><i class="fas fa-calendar-alt"></i><span th:text="${article.createTime}"></span></span>
                <span style="margin-left: 10px"><i class="fas fa-eye"></i><span th:text="${article.pv}"></span></span>
                <span style="float: right;">
                <i class="fas fa-book"></i><a th:href="@{'/blog/home?categoryId=' + ${article.categoryId}}"
                                              th:text="${article.categoryName}"></a>
              </span>
            </p>


            <!-- Preview Image -->
            <span class="img-fluid rounded" th:remove="${article.preface == null}? tag : none"
                  th:style="'height:300px; width:900px; display:inline-block;background-image: url('+${article.preface}+');background-position:center;'">
            </span>
            <!--<hr>-->
            <div class="markdown-body" style="margin-bottom: 20px" th:utext="${article.content}">
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Toc Widget -->
            <div class="card my-4">
                <h5 class="card-header">Toc</h5>
                <div class="card-body">
                    <div id="category"></div>
                </div>
            </div>
            <!-- Contact -->
            <div class="card my-4">
                <h5 class="card-header">Contact</h5>
                <div class="card-body">
                    <a href="https://github.com/toxicaker" style="color: #1d2124;font-size: 20px;cursor: pointer;margin-right: 10px"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/jiateng-liang-11320515b/" style="color: #1d2124;font-size: 20px;cursor: pointer;margin-right: 10px"><i class="fab fa-linkedin"></i></a>
                    <a href="/img/weixin.png" style="color: #1d2124;font-size: 20px;cursor: pointer;margin-right: 10px"><i class="fab fa-weixin"></i></a>
                    <a href="https://www.facebook.com/jiateng.liang" style="color: #1d2124;font-size: 20px;cursor: pointer;margin-right: 10px"><i class="fab fa-facebook"></i></a>
                    <a href="mailto:jiateng.liang@nyu.edu" style="color: #1d2124;font-size: 20px;cursor: pointer;margin-right: 10px"><i class="far fa-envelope"></i></a>
                </div>
            </div>
            <!-- Categories -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled mb-0">
                                <li th:each="category: ${category_data}">
                                    <a th:href="@{'/blog/home?categoryId=' + ${category.id}}"
                                       th:text="${category.name}+'('+${category.count}+')'"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popular Articles -->
            <div class="card my-4">
                <h5 class="card-header">Popular Articles</h5>
                <div class="card-body">
                    <div class="list-group">
                        <a th:href="@{'/blog/posts/' + ${pop.id}}" class="list-group-item"
                           th:each="pop: ${popular_data}">
                            <div><h5 class="list-group-item-heading" th:text="${pop.title}"
                                     style="display: inline-block"></h5><span><i class="fas fa-fire"></i>
                                <small th:text="${pop.pv}"></small></span></div>
                            <p class="list-group-item-text" th:text="${pop.shortDesc}">
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Jiateng Liang's Blog 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!--<script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>-->

<!--<script>hljs.initHighlightingOnLoad();</script>-->
<script th:inline="javascript">
    $(document).ready(function () {
        var h1 = 0;
        var h2 = 0;
        var h3 = 0;
        var h4 = 0;
        var h5 = 0;
        var h6 = 0;
        $(".markdown-body").children("h1,h2,h3,h4,h5,h6").each(function (i, item) {

            var id = [[${article.id}]];
            var tag = $(item).get(0).localName;
            $(item).attr("id", "wow" + i);
            var text = $(this).text();
            if (tag === "h1") {
                // h1++;
                // text = h1 + "." + $(this).text();
                if (text.length > 30)
                    text = text.substring(0, 30) + "...";
            } else if (tag === "h2") {
                // h2++;
                // text = h1 + "." + h2 + "." + $(this).text();
                if (text.length > 27)
                    text = text.substring(0, 27) + "...";
            } else if (tag === "h3") {
                // h3++;
                // text = h1 + "." + h2 + "." + h3 + "." + $(this).text();
                if (text.length > 25)
                    text = text.substring(0, 25) + "...";
            } else if (tag === "h4") {
                // h4++;
                // text = h1 + "." + h2 + "." + h3 + "." + h4 + "." + $(this).text();
                if (text.length > 22)
                    text = text.substring(0, 22) + "...";
            } else if (tag === "h5") {
                // h5++;
                // text = h1 + "." + h2 + "." + h3 + "." + h4 + "." + h5 + "." + $(this).text();
                if (text.length > 20)
                    text = text.substring(0, 20) + "...";
            } else if (tag === "h6") {
                // h6++;
                // text = h1 + "." + h2 + "." + h3 + "." + h4 + "." + h5 + "." + h6 + "." + $(this).text();
                if (text.length > 15)
                    text = text.substring(0, 15) + "...";
            }



            $("#category").append('<a class="new' + tag + '" href="/blog/posts/' + id + '#wow' + i + '">' + text + '</a></br>');
            $(".newh1").css("margin-left", 0);
            $(".newh2").css("margin-left", 15);
            $(".newh3").css("margin-left", 30);
            $(".newh4").css("margin-left", 45);
            $(".newh5").css("margin-left", 60);
            $(".newh6").css("margin-left", 75);

        });
    });
</script>


</body>

</html>
