<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liangjiateng.mapper.AccountMapper">


    <insert id="insertAccount" parameterType="cn.liangjiateng.pojo.DO.Account" keyProperty="id"
            useGeneratedKeys="true">
      insert into account set username = #{username}, password = #{password}, real_name = #{realName}, token = #{token}, create_time = now(), update_time = now()
    </insert>


</mapper>