<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liangjiateng.mapper.ArticleMapper">

    <select id="listArticlesSortBy" resultType="cn.liangjiateng.pojo.DO.Article">
        select * from article where status = #{status}
        order by
        <if test="sortType == 0"> create_time desc</if>
        <if test="sortType == 1"> create_time asc</if>
        <if test="sortType == 2"> pv desc</if>
         limit #{page.limit}, #{page.pageSize}
    </select>

    <select id="listArticlesByCategoryIdSortBy" resultType="cn.liangjiateng.pojo.DO.Article">
        select * from article where status = #{status}
        and category_id = #{categoryId}
        order by
        <if test="sortType == 0">create_time desc</if>
        <if test="sortType == 1">create_time asc</if>
        <if test="sortType == 2">pv desc</if>
        limit #{page.limit}, #{page.pageSize}
    </select>

    <select id="listArticlesByNameSortBy" resultType="cn.liangjiateng.pojo.DO.Article">
        select * from article where status = #{status}
        and title like concat('%',#{title},'%')
        order by
        <if test="sortType == 0">create_time desc</if>
        <if test="sortType == 1">create_time asc</if>
        <if test="sortType == 2">pv desc</if>
        limit #{page.limit}, #{page.pageSize}
    </select>

    <insert id="insertArticle" parameterType="cn.liangjiateng.pojo.DO.Article">
         insert into
         article(title, content, content_md, category_id,
         <if test="status != null">status, </if>
         <if test="pv != null">pv, </if>
         preface, create_time, update_time)
         values (#{title}, #{content}, #{contentMd}, #{categoryId},
         <if test="status != null">#{status}, </if>
         <if test="pv != null">#{pv}, </if>
         #{preface}, now(), now())
    </insert>

    <update id="updateArticle" parameterType="cn.liangjiateng.pojo.DO.Article">
        update article set
        <if test="title != null">title = #{title},</if>
        <if test="content != null">content = #{content},</if>
        <if test="contentMd != null">content_md = #{contentMd},</if>
        <if test="categoryId != null">category_id = #{categoryId},</if>
        <if test="preface != null">preface = #{preface},</if>
        <if test="status != null">status = #{status},</if>
        <if test="pv != null">pv = #{pv},</if>
        update_time = now()
        where id = #{id}
    </update>

</mapper>